<a href="https://colab.research.google.com/github/Fitzpatrique/One-Hot-Encoder/blob/main/One_hot_encoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The goal of this notebook exercise is to perform one hot encoding on dataset without using Scikit-learn library.

###What is one hot encoding?

##### One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Generate a false dataset

In [2]:
data = {
    'id': [1,2,3,4,5,6,7,8,9,10],
    'is_male': ['true','false','true','true','true','false','false','true','true','false'],
    'location':['LAG','OWE','ABJ','LAG','PH','BEN','ABK','EN','ABJ','LAG'],
    'age': [16,12,67,23,91,10,34,61,65,18]
}

Using pandas to create a dataframe

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   id is_male location  age
0   1    true      LAG   16
1   2   false      OWE   12
2   3    true      ABJ   67
3   4    true      LAG   23
4   5    true       PH   91
5   6   false      BEN   10
6   7   false      ABK   34
7   8    true       EN   61
8   9    true      ABJ   65
9  10   false      LAG   18

Create algorithm that performs one hot encoding

In [5]:
def new_feature(data):
  value = list(data.unique())
  total = data.count()
  empty = np.zeros(total)
  
  for i,v in enumerate(value):
    df[v] = empty

  for i,v in enumerate(list(data.values)):
    df[v][i] = 1

In [8]:
new_feature(df['location'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
df

   id is_male location  age  true  false  LAG  OWE  ABJ   PH  BEN  ABK   EN
0   1    true      LAG   16   1.0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   2   false      OWE   12   0.0    1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2   3    true      ABJ   67   1.0    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   4    true      LAG   23   1.0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
4   5    true       PH   91   1.0    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
5   6   false      BEN   10   0.0    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6   7   false      ABK   34   0.0    1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
7   8    true       EN   61   1.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
8   9    true      ABJ   65   1.0    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9  10   false      LAG   18   0.0    1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0